/***** Challenge 6 answer

p {
  color: rgb(0, 162, 193);
}

*/


/***** Challenge 7 answer

.biography {
  color: rgb(0, 162, 193);
}

.header-name {
  color: deeppink;
}

.resume h2, .section-title {
  color: #afe24a;
}

*/


/***** Challenge 8 answer

body {
  color: rgb(50, 50, 50);
  font-family: 'Rosario', arial, sans-serif;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', georgia, serif;
  line-height: 1.2;
}

h1 {
  font-size: 2em;
}

a {
  color: rgb(115, 168, 10);
}

header {
  color: rgb(0, 162, 193);
  text-align: center;
}

.header-name {
  text-transform: uppercase;
}

.biography {
  text-align: center;
}
*/


/***** Challenge 9 answer

body {
  color: rgb(50, 50, 50);
  font-family: 'Rosario', arial, sans-serif;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', georgia, serif;
  line-height: 1.2;
}

h1 {
  font-size: 2em;
}

a {
  color: rgb(115, 168, 10);
  text-decoration: none;
}

a:hover {
  color: rgb(170, 219, 72);
  text-decoration: underline;
}

a:active {
  color: rgb(199, 10, 126);
  text-decoration: none;
}

header {
  background-image: url("images/nice_snow.png");
  color: rgb(0, 162, 193);
  text-align: center;
}

.header-name {
  text-transform: uppercase;
}

.biography {
  text-align: center;
}

footer {
  background-color: black;
}
*/


/***** Challenge 10 answer */

body {
  color: rgb(50, 50, 50);
  font-family: 'Rosario', arial, sans-serif;
  line-height: 1.6;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', georgia, serif;
  line-height: 1.2;
  margin: 0;
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.3em;
}

a {
  color: rgb(115, 168, 10);
  text-decoration: none;
}

a:hover {
  color: rgb(170, 219, 72);
  text-decoration: underline;
}

a:active {
  color: rgb(199, 10, 126);
  text-decoration: none;
}

header {
  background-color: rgb(0, 162, 193);
  border-bottom: 8px solid rgba(255, 255, 255, .5);
  color: white;
  padding: 1em;
  text-align: center;
}

.socials a {
  color: white;
  margin: 0 3px;
}

.socials a:hover {
  color: rgb(170, 219, 72);
}

.socials a:active {
  color: rgb(199, 10, 126);
}

.header-name {
  text-transform: uppercase;
}

.column {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  margin-right: -4px;
  padding: 2em;
  vertical-align: top;
}

.biography {
  background-color: rgba(0, 162, 193, .1);
  text-align: center;
  width: 25%;
}

.biography img {
  border: 8px solid white;
}

.resume {
  padding-left: 5em;
  width: 75%;
}

footer {
  background-color: black;
  padding: 1em 2em;
}
